.pageWrapper {
    background-color: #777;
}

.sectionWrapper-main {
    max-width: 100%;
    margin: 40px 0 auto 0;
    display: flex;
}

.sections {
    padding: 10px;
    margin: 10px 20px 0 10px;
    flex: 1;
    text-align: justify-all;
}

.sectionHead {
    font-size: 22px;
}

.sectionPara {
    font-size: 16px;
    color: #fff;
}

.section-first-half{
    display: inline;
    margin: 20px;
}

.sectionWrapper-main-img{
   height: 300px;
   width: auto;
}

.section-second-half{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px) and (min-width: 10px) {
    .sectionWrapper-main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sectionWrapper-main-img{
        height: 150px;
        width: auto;
    }

}