* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    padding: 0;

}

.navBar {
    background-color: #231F20;
    height: 80px;
    margin: 0;
    padding: 0;
}

.navBar-logo {
    display: inline;
}

.navBar-logo-image {
    height: 50px;
    margin: 10px;
    width: 180px;
}

.bannerWrapper {
    height: 100%;
    width: 100%;
}

.bannerImage {
    height: auto;
    max-width: 100%;
    margin: 30px 0 30px 0;
    padding: 0;
}

.bannerWrapperInfo {
    display: grid;
    grid-template-columns: 300px 250px;
    grid-gap: 100px;
    grid-template-rows: 75px;
}

.bannerWrapperInfo h1 {
    font-size: 20px;
}

.bannerWrapperInfoSub{
    display: grid;
    grid-template-columns: 300px 200px;
    grid-gap: 100px;
}

.bannerWrapperInfoSub h1 {
    font-size: 20px;
}

#middleWrapper {
    height: 100%;
    width: 100%;
}

.middle-header {
    height: 50px;
}

.middle-header h1 {
    font-size: 50px;
    margin: 30px 0 30px 10px;
    color: #3C57A7;
    text-align: center;
}

.middle-header span {
    color: #4FB748;
}

.middle-wrapper-main {
    background-color: #FFFFE0;
}

.middle-wrapper-main-subpart h1 {
    font-size: 30px;
    margin: 40px 0 30px 10px;
    padding-top: 20px;
    color: #000;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon {
    width: 80px;
}

.myCol h1 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.myCol span {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

.middle-sub {
    display: block;
    height: 100px;
    background-color: #003333;
}

.middle-sub-header {
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.class-header {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 50px;
}

.class-header-symbol {
    text-align: center;
    font-size: 90px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;
}

.class-header-subtopic {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.pass {
    text-align: center;
    font-size: 30px;
}

.class-section-button {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.know-more {
    padding: 5px 5px 8px 5px;
    background-color: #003333;
    color: #fff;
    border: 1px solid #003333;
    height: 40px;
    border-radius: 5px;
}

.know-more:hover {
    padding: 5px 5px 8px 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    height: 40px;
    border-radius: 5px;
}

#footer {
    height: 100%;
    width: 100%;
}

.footer-main {
    background-color: #222222;
    margin: 30px 0 0 0;
}

.footer-main-list {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.footer-main-list a {
    text-decoration: none !important;
}

.footer-main-list li {
    margin: 20px 30px 25px 30px;
}

.footer-main-list li:hover {
    color: #C59F2E;
}

@media screen and (max-width: 1010px) {
    .footer-main-list {
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 20px 20px 25px 20px;
    }
}

@media screen and (max-width: 910px) {
    .middle-header h1 {
        font-size: 40px;
        margin: 30px 0 10px 10px;
        color: #3C57A7;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 25px;
    }

    .middle-sub-header {
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding: 25px;
    }

    .footer-main-list {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 18px 18px 18px 18px;
    }

}

@media screen and (max-width: 700px) {
    .middle-header h1 {
        font-size: 30px;
        margin: 30px 0 10px 10px;
        color: #3C57A7;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 20px;
    }

    .middle-sub-header {
        font-size: 30px;
        text-align: center;
        color: #fff;
        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    .middle-header h1 {
        font-size: 20px;
        margin: 30px 0 10px 10px;
        color: #3C57A7;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 20px;
    }

    .middle-sub-header {
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .footer-main-list {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 10px 10px 10px 10px;
    }

}

@media screen and (max-width: 300px) {
    .middle-header h1 {
        font-size: 20px;
        margin: 30px 0 10px 10px;
        color: #3C57A7;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 20px;
    }

    .footer-main-list {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 10px 10px 10px 10px;
    }

}

