* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: #231F20;
    height: 75px;
    margin: 0;
    padding: 0;
}

.navBar-logo {
    display: inline;
}

.navBar-logo-image {
    height: 45px;
    margin: 12px;
    width: 180px;
}

.bannerImage {
    height: auto;
    max-width: 100%;
    margin: 30px 0 30px 0;
    padding: 0;
}

.innerColMain h1 {
    font-size: 15px;
}

.innerColSub h1 {
    font-size: 15px;
}

.fa-check {
    font-size: 12px;
    color: #2ecc71;
}

.prerequisiteSection {
    height: 100%;
    width: auto;
    background-color: #901632;
    margin: 30px 0 10px 0;
    border-radius: 5px;
}

.prerequisiteSection h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 8px 0 0 0;
}

.innerList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerListText h6 {
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.innerListText h5 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
}

#middleWrapper {
    height: 100%;
    width: 100%;
}

.middle-header h1 {
    font-size: 55px;
    margin: 50px 0 10px 0;
    color: #3C57A7;
    text-align: center;
    font-weight: 900;
}

.middle-header span {
    color: #4FB748;
}

.middle-wrapper-main {
    background-color: #FFFFE0;
}

.middle-wrapper-main-subpart h1 {
    font-size: 40px;
    margin: 40px 0 30px 10px;
    padding-top: 20px;
    color: #000;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon {
    width: 60px;
}

.myCol {
    width: 30%;
}

.myCol h1 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.myCol span {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

.middle-sub {
    display: block;
    height: auto;
    width: 100%;
    background-color: #003333;
}

.middle-sub-header {
    font-size: 42px;
    text-align: center;
    color: #fff;
    padding: 15px 0 15px 0;
}

.class-header {
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 50px;
}

.class-header-symbol {
    text-align: center;
    font-size: 90px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;
}

.class-header-subtopic {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.class-section-button {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.know-more {
    padding: 5px 5px 8px 5px;
    background-color: #003333;
    color: #fff;
    border: 1px solid #003333;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.know-more:hover {
    padding: 5px 5px 8px 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    height: 40px;
    border-radius: 5px;
}

#lastWrapper {
    background-color: #38CFD1;
}

.SectionOne {
    background-color: #C71037;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    border-radius: 5px;
    height: 370px;
    border: 1px solid #C71037;
}

.SectionOne-Right-List {
    list-style: none;
    text-align: center;
    margin: 20px 5px 10px 0;
    color: #ffffff;
}

.SectionOne-Right-List li:nth-child(2n) {
    margin-bottom: 8px;
}

.SectionTwo {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    height: 370px;
    border: 1px solid #000;
    margin-bottom: 30px;
}

.innerSectionTwo h1 {
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 20px 0 0 0;
}

.innerSectionTwo h2 {
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 5px 0 30px 0;
}

.innerSectionForm {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 30px;
    justify-content: center;
}

input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 2px;
    border: 1px solid #000;
    color: #000;
    padding: 3px;
}

.innerSectionLast {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btnSchedule {
    margin: 50px 0 5px 0;
    background-color: #901632;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    border: 1px solid #901632;
}

.innerSectionLast a {
    text-align: center;
    text-decoration: none;
}

.innerSectionLast a:hover {
    text-align: center;
    text-decoration: none;
    background-color: #00CC00;
    color: #fff;
    border: 1px solid #00CC00;
}

.innerSectionLast h1 {
    display: block;
    font-size: 20px;
}

#footer {
    height: 100%;
    width: 100%;
}

.footer-main {
    background-color: #222222;
    margin: 0 0 0 0;
}

.footer-main-list {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.footer-main-list a {
    text-decoration: none !important;
}

.footer-main-list li {
    margin: 20px 20px 25px 30px;
}

.footer-main-list li:hover {
    color: #C59F2E;
}

/*********************** LOGIN PAGE CSS*************************/

#bodyWrapper{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.bodyWrapperFormSection h1{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 400;
    color: #3C57A7;
    margin: 30px 0 0 0;
}

.bodyWrapperFormSection{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    background-color: #ccc;
}

/**************************END'S HERE****************************/
@media screen and (max-width: 1010px) {

    .middle-header h1 {
        font-size: 35px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 30px;
        text-align: center;
    }

    .footer-main-list {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 20px 20px 25px 20px;
    }

}

@media screen and (max-width: 910px) {
    .prerequisiteCol {
        display: none;
    }

    .middle-header h1 {
        font-size: 30px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 25px;
        text-align: center;
    }

    .middle-sub-header {
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding: 25px;
    }

    .footer-main-list {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 18px 18px 18px 18px;
    }

}

@media screen and (max-width: 700px) {
    .prerequisiteCol {
        display: none;
    }

    .middle-header h1 {
        font-size: 25px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 20px;
        text-align: center;
    }

    .know-more {
        margin: 0;
    }

    .middle-sub-header {
        font-size: 30px;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .footer-main-list {
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 10px 15px 10px 10px;
    }
}

@media screen and (max-width: 500px) {
    .innerColMain h1 {
        font-size: 16px;
    }

    .innerColSub h1 {
        font-size: 16px;
    }

    .middle-header h1 {
        font-size: 22px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 18px;
        text-align: center;
    }

    .prerequisiteCol {
        display: none;
    }

    .know-more {
        margin: 0;
    }

    .middle-sub-header {
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .footer-main-list {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 10px 10px 10px 10px;
    }

}

@media screen and (max-width: 500px) and (min-width: 350px) {

    .middle-header h1 {
        font-size: 18px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 18px;
        text-align: center;
    }

    .know-more {
        margin: 0;
    }

    .SectionOne-Left img {
        height: 150px;
        width: auto;
        margin-top: 100px !important;
    }

    .SectionOne-Right-List li {
        font-size: 12px;
    }

    .innerSectionForm {
        display: grid;
        grid-template-columns: 140px 140px;
        justify-content: center;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 349px) and (min-width: 100px) {

    .middle-header h1 {
        font-size: 15px;
        text-align: center;
    }

    .middle-wrapper-main-subpart h1 {
        font-size: 14px;
        text-align: center;
    }

    .know-more {
        margin: 0;
    }

    .SectionOne-Left img {
        height: 110px;
        width: auto;
        margin: 120px 0 0 10px !important;
    }

    .SectionOne-Right-List li {
        font-size: 12px;
    }

    .innerSectionForm {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: center;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 300px) {
    .footer-main-list {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .footer-main-list li {
        margin: 10px 10px 10px 10px;
    }
}


