.secondSectionWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #CACAC9;
}

.imageWrapperSection{
    margin-right: 30px;
}

.app-powered-booklets-list li{
    list-style: none;
    display: inline-block;
    margin: 40px 50px 20px 0;
    text-align: center;
}


@media screen and (max-width: 768px) and (min-width: 526px){

}